

.theme-default #slider {
    margin:10px auto 0 auto;
    width:618px; /* Make sure your images are the same size */
    height:246px; /* Make sure your images are the same size */
	z-index: 9999;
}
.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper {
    margin-top:10px;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}